@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0px;
    font-family: poppins, sans-serif;
}

*::selection {
    background-color: #e2ce7e;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #bdb6a2;
    overflow-x: hidden;
}

.navbar {
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    height: 120px;
    
}


.logo {
    height: 100px;
    width: 100px;
    left: 50px;
}


.logo img {
    position: relative;
    height:120px;
    left: 10px;
    width: auto;
    background-color: #bdb6a2;
}

.backtext {
    overflow: hidden;
    display: block;
    top: 50px;
    position: absolute;
    height: 100px;
    width: 500px;
    z-index: -1;
}

.backtext p {
    width: 10px;
    animation: anime 1s ease 500ms 1;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: 100px;
    color: #FFDE59;
    z-index: -1;
}

.navtabs {
    overflow: hidden;
    right: 50px;
    position: fixed;
    list-style: none;
    display: flex;
    gap: 70px;
    margin-top: 50px;
    z-index: 100;
}

li a {
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-align: center;
    border: 2px solid  rgba(255, 255, 25, 0.4);
    border-radius: 50px;
    height: 50px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    height: 50px;
    width: 125px;
    background-color: #e2ce7e;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    transform: translateY(75px);
    overflow: hidden;
}

.overlay1{
    left: 2px;
    position: absolute;
}
.overlay2{
    position: absolute;
}

.overlay4{
    width: 145px;
}

.round{
    left: 0;
    top: 100px;
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: #ffe477;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: 0px 4px 100px #ffe477;
    animation: ballanime 105s linear infinite;
}

.opt4{
    padding: 0px 10px;
}

.overview{
    transition: all 3s ease;
    position: relative;
    display: flex;
    height: auto;
    width: 1150px;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(187, 166, 135);
    /* margin: 0 20vw; */
    /* box-shadow: 2px 1px 5px 1px ; */
    background-color: rgba(255, 255, 0, 0.04);
    top: 200px;
}

.lefttext {
    top: 0;
    width: 50%;
    height: 100%;
    margin: 50px 50px;
    
}

.lefttext h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    
}

.lefttext p {
    font-size: 20px;
}

.img {
    width: 50%;
    position: relative;
    margin: 20px;
    background-color: #FFDE59;
    background-image: url(Assets/Screenshot\ 2024-07-30\ 165121.png);
    background-size: cover;
    background-position: 10%;
    border: 5px solid rgb(191, 194, 45);
}

a {
    transition: all 3s ease;
}

.process {
    background-color: rgba(255, 255, 0, 0.04);
    border: 1px solid rgb(187, 166, 135);
    backdrop-filter: blur(20px);
    position: relative;
    /* margin: 70vh 0vw; */
    height: auto;
    width: 1150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.process h2 {
    text-align: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 11%;
    justify-content: center;
    font-size: 60px;
    top: 11px;
    border-bottom: 5px solid;
    width: 80%;
    margin: 0 10%;
    padding-bottom: 50px;
}

.mission{
    margin: 0 10%;
    font-size: 20px;
}

.hmis {
    font-size: 50px;
    font-weight: 700;
}

.mission p {
    font-size: 20px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    gap: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hvis {
    font-size: 45px;
}

@keyframes anime {
    0% {
        right: 100px;
    }
    100%{
        right: -120px;
    }
}

@keyframes ballanime{
    0%{
        
    }

    25%{
        transform: translateX(80vw);
        top: 80vh;
    }

    50%{
        transform: translateX(0vw);
        top: 160vh;
    }

    100%{

    }
}

@media screen and (min-width: 1000px) {
    .hmis{
        font-size: 50px;
        font-weight: 600;
        transform: translateX(-150px);
        opacity: 0;
    }
    
    .sct1 {
        transform: translateX(-150px);
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {

    .logo{
        left: 10px;
    }

    .overview{
        display: block;
        width: 100vw;
        margin: 0;
    }

    .process {
        width: 100vw;
        margin: 0, 50%;
    }

    .process h2 {
    }

    .img {
        display: none;
    }

    .lefttext {
        width: 80%;
        /* text-align: center; */
    }

    .navbar li {
        display: none;
    }

    .logo {
        position: fixed;
        top: 1vh;
    }


}


@media screen and (max-width: 580px){

    .backtext {
        scale: 0.89;
        transform: translateX(-20px);
    }

    .logo {
        scale: 0.99;
        left: -1px;
    }

    .process{
        /* margin-top: 30vh; */
        gap: 10px;
        margin-top: 15%;
    }

    .process h2 {
        border: none;
        line-height: 70px;
    }
}
