@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0px;
    font-family: poppins, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #aaa8a8;
}

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 120px;
}


.logo {
    height: 100px;
    width: 110px;
    position: relative;
    left: 50px;
    z-index: 5;
}


.logo img {
    position: relative;
    height:120px;
    width: auto;
    background-color: #aaa8a8;
}

.backtext {
    overflow: hidden;
    display: flex;
    top: 50px;
    position: absolute;
    height: 100px;
    width: 550px;
}

.backtext p {
    animation: anime 1s ease 500ms 1;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: 100px;
    color: #FFDE59;
}

.navtabs {
    overflow: hidden;
    right: 50px;
    position: absolute;
    list-style: none;
    display: flex;
    gap: 70px;
    margin-top: 50px;
}

li a {
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-align: center;
    border: 1px solid  rgb(148, 142, 142);
    border-radius: 50px;
    height: 50px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    height: 50px;
    width: 125px;
    background-color: #ffe477;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    transform: translateY(75px);
    overflow: hidden;
}

.overlay1{
    left: 0px;
    position: absolute;
}
.overlay2{
    position: absolute;
}

.round{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: #ffe477;
    top: 500px;
    left: px;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: 0px 4px 100px #ffe477;
}


@keyframes anime {
    0% {
        right: 100px;
    }
    100%{
        right: -120px;
    }
}